* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #fff;
  font-size: .18rem;
  min-width: 1280px;
  font-family: MicrosoftYaHei;
}
li {
  list-style: none;
}
.wrapper {
  width: 100%;
  margin: 0 1% 1% 0;
  background-image: url(images/wrapper_bg.png);
  overflow: hidden;
}
.wrapper > div {
  position: relative;
  float: left;
  width: 32%;
  height: 3.38rem;
  margin: 1% 0 0 1%;
  background-image: url(images/section_bg.png);
  background-size: 100% 100%;
  opacity: .9;
}
.wrapper > div .title {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 2.36rem;
  height: .36rem;
  line-height: .36rem;
  text-align: center;
  font-weight: bold;
  color: #04ffff;
}
.wrapper > div:nth-child(1) {
  padding: .12rem .1rem;
  background-image: url(images/section1_bg.png);
}
.wrapper > div:nth-child(1) .header {
  overflow: hidden;
}
.wrapper > div:nth-child(1) .header div:first-child {
  float: left;
}
.wrapper > div:nth-child(1) .header div:first-child span:first-child {
  display: inline-block;
  width: .24rem;
  height: .24rem;
  vertical-align: top;
  background-image: url(images/weather.png);
  background-size: cover;
}
.wrapper > div:nth-child(1) .header div:first-child span:last-child {
  margin-left: .1rem;
  font-weight: bold;
}
.wrapper > div:nth-child(1) .header div:last-child {
  float: right;
}
.wrapper > div:nth-child(1) .header div:last-child span {
  color: #fd9c62;
  font-size: .16rem;
  font-weight: bold;
}
.wrapper > div:nth-child(1) ul {
  margin-top: .1rem;
  overflow: hidden;
}
.wrapper > div:nth-child(1) ul li {
  margin-top: .25rem;
  cursor: pointer;
}
.wrapper > div:nth-child(1) ul li span {
  position: relative;
  display: inline-block;
  width: .1rem;
  height: .1rem;
  margin-left: .07rem;
  margin-right: .15rem;
  border: solid 1px #3be0a8;
}
.wrapper > div:nth-child(1) ul li span i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  display: block;
  width: .04rem;
  height: .04rem;
  background-color: #3be0a8;
}
.wrapper > div:nth-child(1) .more {
  position: absolute;
  right: .1rem;
  bottom: .12rem;
  font-size: .16rem;
  cursor: pointer;
}
.wrapper > div:nth-child(4) .yearbox {
  position: absolute;
  top: .3rem;
  right: .25rem;
  z-index: 99;
}
.wrapper > div:nth-child(4) .yearbox select {
  width: 1.12rem;
  height: .32rem;
  border: none;
  color: #fff;
  background-color: #224ca8;
  border-radius: 2px;
}
.wrapper > div:nth-child(5) #echarts2 {
  height: 100%;
}
.wrapper > div:nth-child(6) {
  padding: 0 .2rem;
  font-size: .16rem;
}
.wrapper > div:nth-child(6) .keyNode {
  margin-top: .8rem;
  overflow: hidden;
}
.wrapper > div:nth-child(6) .keyNode > div {
  float: left;
  width: 18%;
}
.wrapper > div:nth-child(6) .keyNode .nodeMap {
  width: 82%;
  margin-top: .1rem;
}
.wrapper > div:nth-child(6) .keyNode .nodeMap .outer {
  position: relative;
  width: 100%;
  height: .06rem;
  background-color: #4a61a6;
}
.wrapper > div:nth-child(6) .keyNode .nodeMap .outer .inner {
  width: 50%;
  height: 100%;
  background-color: #fd9c62;
}
.wrapper > div:nth-child(6) .keyNode .nodeMap .outer .point {
  position: absolute;
  top: -0.05rem;
  width: .16rem;
  height: .16rem;
  border-radius: 50%;
  background-color: #fd9c62;
}
.wrapper > div:nth-child(6) .keyNode .nodeMap .outer .first {
  left: 0;
}
.wrapper > div:nth-child(6) .keyNode .nodeMap .outer .second {
  left: 50%;
}
.wrapper > div:nth-child(6) .keyNode .nodeMap .outer .third {
  position: absolute;
  right: 0;
  background-color: #4a61a6;
}
.wrapper > div:nth-child(6) .keyNode .nodeMap .outer .third .inner {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: .06rem;
  height: .06rem;
  border-radius: 50%;
  background-color: #33498b;
}
.wrapper > div:nth-child(6) .keyNode .nodeMap .date {
  position: relative;
  height: .5rem;
  margin-top: .1rem;
  font-size: 12px;
}
.wrapper > div:nth-child(6) .keyNode .nodeMap .date > div {
  position: absolute;
  text-align: center;
}
.wrapper > div:nth-child(6) .keyNode .nodeMap .date > div span {
  display: block;
}
.wrapper > div:nth-child(6) .keyNode .nodeMap .date > div:nth-child(1) {
  left: -5%;
}
.wrapper > div:nth-child(6) .keyNode .nodeMap .date > div:nth-child(2) {
  left: 40%;
}
.wrapper > div:nth-child(6) .keyNode .nodeMap .date > div:nth-child(3) {
  right: 0;
}
.wrapper > div:nth-child(6) .pro-value {
  margin-top: .5rem;
  overflow: hidden;
}
.wrapper > div:nth-child(6) .pro-value > div {
  float: left;
}
.wrapper > div:nth-child(6) .pro-value > div:first-child {
  width: 18%;
}
.wrapper > div:nth-child(6) .pro-value > div:last-child {
  width: 82%;
}
.wrapper > div:nth-child(6) .pro-value > div:last-child p {
  margin-top: .1rem;
}
.wrapper > div:nth-child(6) .pro-value > div:last-child p span {
  font-size: .2rem;
}
.wrapper > div:nth-child(6) .pro-value > div:last-child p span:last-child {
  color: #fd9c62;
}
.wrapper > div:nth-child(6) .pro-value > div:last-child p:first-child {
  margin-top: 0;
}
.wrapper > div:nth-child(9) .left,
.wrapper > div:nth-child(9) .right {
  position: relative;
  float: left;
  width: 50%;
  height: 100%;
}
.wrapper > div:nth-child(9) .left #echarts4,
.wrapper > div:nth-child(9) .right #echarts4,
.wrapper > div:nth-child(9) .left #echarts5,
.wrapper > div:nth-child(9) .right #echarts5 {
  height: 100%;
}
.wrapper > div:nth-child(9) .left .text,
.wrapper > div:nth-child(9) .right .text {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.wrapper > div:nth-child(9) .left .text span:first-child,
.wrapper > div:nth-child(9) .right .text span:first-child {
  color: #fd9c62;
  font-size: .26rem;
  font-weight: bold;
}
.wrapper > div:nth-child(9) .left .text span:last-child,
.wrapper > div:nth-child(9) .right .text span:last-child {
  color: #9bd0ff;
  font-size: 12px;
}
.wrapper > div:nth-child(10) {
  width: 98%;
  height: 4.08rem;
  margin: 1%;
  background-image: url(images/footer_bg.png);
}
