#containner {
  font-size: 14px;
}
#containner .header {
  font-size: 16px;
  background: #fff;
}
#containner .header .header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#containner .header .header-inner .navbar {
  height: 64px;
  display: flex;
  align-items: center;
}
#containner .header .header-inner .navbar > li {
  position: relative;
  margin-right: 50px;
}
#containner .header .header-inner .navbar > li:first-child {
  margin-right: 68px;
}
#containner .header .header-inner .navbar > li.login-btn {
  margin-right: 16px;
}
#containner .header .header-inner .navbar > li.login-btn a {
  display: block;
  width: 96px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  background: #ffffff;
  border: 1px solid #ccd1d8;
  border-radius: 2px;
}
#containner .header .header-inner .navbar > li.login-btn a:hover {
  font-weight: bold;
}
#containner .header .header-inner .navbar > li.register-btn {
  margin-right: 0;
}
#containner .header .header-inner .navbar > li.register-btn a {
  display: block;
  width: 96px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  background: #28b6ff;
  color: #fff !important;
  border-radius: 2px;
}
#containner .header .header-inner .navbar > li.register-btn a:hover {
  font-weight: bold;
  background: #35b0ef;
}
#containner .header .header-inner .navbar > li.active > a {
  color: #28B6FF;
  position: relative;
}
#containner .header .header-inner .navbar > li.active > a::after {
  position: absolute;
  left: 7%;
  bottom: -20px;
  display: block;
  content: '';
  width: 86%;
  height: 0;
  border-bottom: 3px solid #28B6FF;
}
#containner .header .header-inner .navbar > li.about-us::after {
  position: absolute;
  right: -23px;
  top: 4px;
  display: block;
  content: '';
  width: 16px;
  height: 16px;
  background-image: url(../images/drop-down-icon.png);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
#containner .header .header-inner .navbar > li.about-us .drop-menu {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  padding: 5px 0;
  background: #ffffff;
  border-radius: 2px;
  z-index: 1;
}
#containner .header .header-inner .navbar > li.about-us .drop-menu li {
  width: 100px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
#containner .header .header-inner .navbar > li.about-us .drop-menu li a {
  color: #7A8185;
  font-size: 14px;
}
#containner .header .header-inner .navbar > li.about-us .drop-menu li a:hover {
  color: #28B6FF;
}
#containner .header .header-inner .navbar > li.about-us:hover .drop-menu {
  display: block;
}
#containner .header .header-inner .navbar > li:hover a {
  color: #28B6FF;
}
#containner .banner-box img {
  width: 100%;
}
#containner .main .pro-brief {
  margin-top: 124px;
}
#containner .main .pro-info {
  display: flex;
  justify-content: space-between;
  padding-bottom: 60px;
}
#containner .main .pro-info .intro-box {
  padding-top: 130px;
}
#containner .main .pro-info .intro-box .title-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  position: relative;
}
#containner .main .pro-info .intro-box .title-box h2 {
  font-size: 24px;
  color: #353D42;
}
#containner .main .pro-info .intro-box .title-box .num {
  margin-top: -10px;
  font: bold 60px PingFang SC;
  color: #E9EDF1;
}
#containner .main .pro-info .intro-box .title-box::after {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  content: '';
  width: 180px;
  height: 1px;
  background: #e8ecf0;
}
#containner .main .pro-info .intro-box .desc-box .desc {
  margin: 56px 0;
}
#containner .main .pro-info .intro-box .desc-box .desc li {
  display: none;
  color: #7A8185;
  line-height: 30px;
}
#containner .main .pro-info .intro-box .desc-box .desc li:first-child {
  display: block;
}
#containner .main .pro-info .intro-box .desc-box .bar-box {
  display: flex;
}
#containner .main .pro-info .intro-box .desc-box .bar-box .bar {
  width: 40px;
  height: 4px;
  margin-right: 8px;
  background: #e8ebee;
}
#containner .main .pro-info .intro-box .desc-box .bar-box .bar.active {
  background: #35b0ef;
}
#containner .main .pro-info .intro-box .desc-box .bar-box .bar:last-child {
  margin-right: 0;
}
#containner .main .pro-info .intro-box .toggle-btn-box {
  margin-top: 42px;
}
#containner .main .pro-info .intro-box .toggle-btn-box .btn {
  float: right;
  width: 32px;
  height: 32px;
  margin-right: 8px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
#containner .main .pro-info .intro-box .toggle-btn-box .btn:first-child {
  background-image: url(../images/arrow-right-disabled2.png);
}
#containner .main .pro-info .intro-box .toggle-btn-box .btn:last-child {
  background-image: url(../images/arrow-left-disabled2.png);
}
#containner .main .pro-info .intro-box .toggle-btn-box .btn:hover:first-child {
  background-image: url(../images/arrow-right2.png);
}
#containner .main .pro-info .intro-box .toggle-btn-box .btn:hover:last-child {
  background-image: url(../images/arrow-left2.png);
}
#containner .main .pro-info .pro-info-img {
  margin-left: 175px;
  margin-top: 140px;
  margin-bottom: -140px;
}
#containner .main .pro-significance {
  padding-top: 233px;
  padding-bottom: 167px;
  background-image: url(../images/pro-significance.png);
  background-position: center;
  background-size: cover;
}
#containner .main .pro-significance .pro-significance-inner {
  display: flex;
  height: 400px;
}
#containner .main .pro-significance .pro-significance-inner img {
  margin-right: 38px;
}
#containner .main .pro-significance .pro-significance-inner .intro-box .title-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  position: relative;
}
#containner .main .pro-significance .pro-significance-inner .intro-box .title-box h2 {
  font-size: 24px;
  color: #fff;
}
#containner .main .pro-significance .pro-significance-inner .intro-box .title-box .num {
  margin-top: -10px;
  font: bold 60px PingFang SC;
  color: #A3E2FE;
}
#containner .main .pro-significance .pro-significance-inner .intro-box .title-box::after {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  content: '';
  width: 180px;
  height: 1px;
  background: #c2e2ec;
}
#containner .main .pro-significance .pro-significance-inner .intro-box .desc {
  color: #fff;
  line-height: 30px;
  margin-top: 56px;
}
#containner .footer {
  height: 410px;
  color: #E5EDF4;
  background: #25282b;
}
#containner .footer .footer-inner {
  position: relative;
}
#containner .footer .footer-inner .footer-logo {
  margin: 40px 0 24px 0;
}
#containner .footer .footer-inner .links-box .links-top,
#containner .footer .footer-inner .links-box .links-bottom {
  display: flex;
}
#containner .footer .footer-inner .links-box .links-top .links,
#containner .footer .footer-inner .links-box .links-bottom .links {
  flex: 1;
}
#containner .footer .footer-inner .links-box .links-top .links h5,
#containner .footer .footer-inner .links-box .links-bottom .links h5 {
  margin-bottom: 20px;
  font-weight: normal;
}
#containner .footer .footer-inner .links-box .links-top .links ul,
#containner .footer .footer-inner .links-box .links-bottom .links ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
#containner .footer .footer-inner .links-box .links-top .links ul li,
#containner .footer .footer-inner .links-box .links-bottom .links ul li {
  width: 100px;
}
#containner .footer .footer-inner .links-box .links-top .links ul li a,
#containner .footer .footer-inner .links-box .links-bottom .links ul li a {
  color: #8A8F93;
}
#containner .footer .footer-inner .links-box .links-top .site-map li.active a {
  color: #35B0EF;
  position: relative;
}
#containner .footer .footer-inner .links-box .links-top .site-map li.active a::after {
  position: absolute;
  left: 7%;
  bottom: -6px;
  display: block;
  content: '';
  width: 86%;
  height: 2px;
  background: #35b0ef;
}
#containner .footer .footer-inner .links-box .links-bottom {
  margin-top: 30px;
}
#containner .footer .footer-inner .links-box .links-bottom .contact-us ul {
  display: block;
}
#containner .footer .footer-inner .links-box .links-bottom .contact-us ul li {
  width: auto;
  height: 25px;
  margin-top: 10px;
  padding-left: 30px;
  color: #8A8F93;
  background-repeat: no-repeat;
  background-position: 0 center;
}
#containner .footer .footer-inner .links-box .links-bottom .contact-us ul li:nth-child(1) {
  background-image: url(../images/location.png);
}
#containner .footer .footer-inner .links-box .links-bottom .contact-us ul li:nth-child(2) {
  background-image: url(../images/tel.png);
}
#containner .footer .footer-inner .links-box .links-bottom .contact-us ul li:nth-child(3) {
  background-image: url(../images/email.png);
}
#containner .footer .footer-inner .qr-code {
  position: absolute;
  right: 0;
  bottom: 0;
}
#containner .copyright {
  height: 36px;
  line-height: 36px;
  font-size: 12px;
  color: #CACFD5;
  background: #1a1a1a;
}
#containner .contact-box {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 999;
}
#containner .contact-box a {
  display: block;
  width: 60px;
  height: 60px;
  position: relative;
}
#containner .contact-box a + a {
  margin-top: 1px;
}
#containner .contact-box a .icon {
  width: 100%;
  height: 100%;
  background-color: #68ddff;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 5;
}
#containner .contact-box a .icon:hover {
  background-color: #29aff4;
}
#containner .contact-box a .tip {
  position: absolute;
  left: 0;
  top: 0;
  width: 150px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #68ddff;
  color: #fff;
  transition: left 0.5s;
  z-index: 3;
  visibility: hidden;
}
#containner .contact-box a.wx .tip {
  width: 124px;
  height: 124px;
  background: url(../images/ths-qr-code.png) no-repeat center / cover;
}
#containner .contact-box a:hover .tip {
  visibility: visible;
  left: -150px;
}
#containner .contact-box a:hover.wx .tip {
  left: -124px;
}
#containner .contact-box a.tel .icon {
  background-image: url(../images/tel-r.png);
}
#containner .contact-box a.wx .icon {
  background-image: url(../images/wx.png);
}
#containner .contact-box a.message .icon {
  background-image: url(../images/message.png);
}
#containner .contact-box a.return-top {
  display: none;
}
#containner .contact-box a.return-top .icon {
  background-image: url(../images/return-top.png);
}
