* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "SourceHanSansCN", "Chinese Quote", "PingFang SC", "Microsoft YaHei", "Helvetica Neue", sans-serif;
    color: #fff;
    font-size: .28rem;
}

table {
    border-collapse: collapse;
}

ol,
ul {
    list-style: none;
}

fieldset,
img {
    display: block;
    border: 0
}

input, textarea {
    outline: none;
}

input, button, button:focus {
    border: 0;
}

a {
    text-decoration: none;
}

hr {
    border-bottom: 1px solid #FFFFFF;
    border-top: 1px solid #E4E4E4;
    border-width: 1px 0;
    clear: both;
    height: 2px;
    margin: 5px 0;
    overflow: hidden;
}